<div class="inner cover">
  <h1 class="cover-heading">Quiz #1</h1>
    <p class="lead">To complete Quiz #1, I'm using the "Cover" layout from Twitter Bootstrap.  I've included an <%= link_to 'about', about_path %> 
page as well, just for fun.  Unfortunately I'm running out of time to do all the things I want to do with this little site...
    </p>
    <!-- <p class="lead">
      <a href="#" class="btn btn-lg btn-default">Learn more</a>
    </p> -->
</div>
